@model EmployeeCreateVm

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Default form</h4>
            <p class="card-description">
                Basic form layout
            </p>
            
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Photo">Photo</label>
                    <input asp-for="Photo" class="form-control" placeholder="Photo">
                    <span asp-validation-for="Photo"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FullName">FullName</label>
                    <input asp-for="FullName" class="form-control" placeholder="FullName">
                    <span asp-validation-for="FullName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Position">Position</label>
                    <input asp-for="Position" class="form-control" placeholder="Position">
                    <span asp-validation-for="Position"></span>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>